<div>
    <div className="scrollToTopBtn">
        <i className="fa-solid fa-angle-up"></i>
    </div>
        <div className="container">
            <h1 className="pricing-outer-heading">Privacy Policy</h1>
            <div className='privacy'>

                <p>
                    This introductory section of the Privacy Policy provides an overview of what
                    the policy covers and introduces key terms used throughout the document:
                </p>
                <ol type={1}>
                    <li>
                    <strong>Scope of the Privacy Policy:</strong>
                    </li>
                </ol>
                <p>
                    This Privacy Policy outlines how hire2Inspire collects, uses, and shares
                    information, as well as the options available to users regarding their
                    information.
                </p>
                <ol start={2} type={1}>
                    <li>
                    <strong>Definition of Terms:</strong>
                    </li>
                </ol>
                <p>
                    When referring to "hire2Inspire," "we," or "us," it pertains to the entity
                    known as H2I Technologies Private Limited that operates the website&nbsp;
                    <a href="http://www.hire2Inspire.com" target="_new">
                    <u>www.hire2Inspire.com</u>
                    </a>
                    &nbsp;(referred to as the "Service"). This entity is responsible for
                    processing and controlling user information as described in the Privacy
                    Policy.
                </p>
                <ol start={3} type={1}>
                    <li>
                    <strong>Identification of Data Controller and Processor:</strong>
                    </li>
                </ol>
                <p>
                    The section titled "Identifying the Data Controller and Processor" below
                    provides further details on how hire2Inspire functions as both the processor
                    and controller of user information in different scenarios.
                </p>
                <ol start={4} type={1}>
                    <li>
                    <strong>User Categories:</strong>
                    </li>
                </ol>
                <p>
                    hire2Inspire serves various parties who use the service in distinct ways.
                    These parties are categorized as "Employers," "Recruiters," "Candidates,"
                    and "Website Visitors." While specific policies may apply to each party
                    based on their relevant business entities, collectively, they are referred
                    to as "Users" or "you."
                </p>
               <h3> Data Protection Officer</h3>

                <p>
                    hire2Inspire's commitment to user education regarding their privacy rights
                    and its dedication to addressing any privacy-related concerns or complaints.
                    It provides a contact email address&nbsp;
                    <a href="mailto:info@hire2inspire.com">
                    <u>info@hire2inspire.com</u>
                    </a>
                    &nbsp;for users to reach out to the Data Protection Officer for
                    communication regarding privacy matters.
                </p>
                <ol type={1}>
                    <li>
                    <strong>Definition of Data Controller and Processor:</strong>
                    </li>
                </ol>
                <p>
                    Data protection laws distinguish between the roles of "Controller" and
                    "Processor" of information. In this context, hire2Inspire, a company based
                    in Bangalore, Karnataka, specifies its role as a Processor of Candidate
                    data. This means hire2Inspire does not own, control, or directly manage the
                    use of Candidate data. Instead, it processes this data at the request of the
                    data Controller, which could be the Candidate, Recruiter, or Employer.
                </p>
                <ol start={2} type={1}>
                    <li>
                    <strong>Controller Status for Certain Information:</strong>
                    </li>
                </ol>
                <p>
                    When users actively or passively provide personal information via the
                    platform (such as name, email address, IP address, company affiliation, or
                    similar identifying data), hire2Inspire is considered the data Controller
                    for this information. As the Controller, hire2Inspire is responsible for
                    complying with all associated responsibilities under applicable data privacy
                    laws.
                </p>
                <ol start={3} type={1}>
                    <li>
                    <strong>Handling Personal Data Requests:</strong>
                    </li>
                </ol>
                <p>
                    Requests related to Personal Data should generally be directed to
                    hire2Inspire. Unless stated otherwise in the Privacy Policy, required by
                    law, or specified by hire2Inspire, the company will manage Personal Data
                    requests in collaboration with any Controllers or Processors affiliated with
                    the platform.
                </p>
                <h3>Your Rights Relating To Your Personal Data </h3>
                <ol type={1}>
                    <li>
                    <strong>Access to Personal Data:</strong>
                    </li>
                </ol>
                <p>
                    You have the right to request access to the Personal Data hire2Inspire holds
                    about you. This allows you to receive a copy of your Personal Data and
                    verify that it is being processed lawfully.
                </p>
                <ol start={2} type={1}>
                    <li>
                    <strong>Correction of Personal Data:</strong>
                    </li>
                </ol>
                <p>
                    You can request the correction of any incomplete or inaccurate Personal Data
                    that hire2Inspire holds about you.
                </p>
                <ol start={3} type={1}>
                    <li>
                    <strong>Erasure of Personal Data:</strong>
                    </li>
                </ol>
                <p>
                    You can ask hire2Inspire to delete or remove your Personal Data where there
                    is no legitimate reason for continued processing. This right also applies if
                    you have objected to the processing of your data.
                </p>
                <ol start={4} type={1}>
                    <li>
                    <strong>Objection to Processing:</strong>
                    </li>
                </ol>
                <p>
                    You have the right to object to the processing of your Personal Data if
                    hire2Inspire relies on legitimate interests as the legal basis for
                    processing, and there are specific reasons related to your situation that
                    justify the objection.
                </p>
                <ol start={5} type={1}>
                    <li>
                    <strong>Restriction of Processing:</strong>
                    </li>
                </ol>
                <p>
                    You can request the suspension of processing of your Personal Data, for
                    example, if you want to verify its accuracy or the purpose for processing.
                </p>
                <ol start={6} type={1}>
                    <li>
                    <strong>Data Portability:</strong>
                    </li>
                </ol>
                <p>
                    If applicable by law, hire2Inspire will provide you or a chosen third party
                    with your Personal Data in a structured, commonly used, machine-readable
                    format.
                </p>
                <ol start={7} type={1}>
                    <li>
                    <strong>Consent Withdrawal:</strong>
                    </li>
                </ol>
                <p>
                    You have the right to withdraw your consent for processing of your Personal
                    Data. However, it's important to note that if processing relies on your
                    consent, withdrawing it may impact access to specific functionalities of the
                    platform. You will be informed of this at the time of consent withdrawal.
                </p>
                <ol start={8} type={1}>
                    <li>
                    <strong>Exceptions to Data Rights:</strong>
                    </li>
                </ol>
                <p>
                    Certain legal requirements may override the data rights mentioned above. For
                    example, anti-discrimination laws in many countries may require data
                    retention for a specific period, even if a data subject requests deletion.
                </p>
                <ol start={9} type={1}>
                    <li>
                    <strong>Contacting Local Data Protection Authority:</strong>
                    </li>
                </ol>
                <p>
                    If you are within the law, you have the right to contact your local data
                    protection supervisory authority if you feel that your complaints have not
                    been adequately addressed.
                </p>
                <h4>How to Exercise Your Rights:</h4>
                <p>
                    To exercise any of the rights described above or to lodge a complaint
                    regarding this privacy policy, you can use the provided form or directly
                    email hire2Inspire's Data Protection Officer at:&nbsp;
                    <a href="mailto:info@hire2Inspire.com" target="_new">
                    <u>info@hire2Inspire.com</u>
                    </a>
                    .
                </p>
                <p>
                    Please be aware that hire2Inspire may need to verify your identity and
                    request further information to ensure the security of your Personal Data
                    during the process.
                </p>
                <h4>Personal Data We Collect</h4>
                <ol type={1}>
                    <li>
                    <strong>Providing Services:</strong>
                    </li>
                </ol>
                <p>
                    Personal Data is used to provide the hire2Inspire service, including
                    facilitating payments, filling out tax forms, and other service-related
                    activities.
                </p>
                <ol start={2} type={1}>
                    <li>
                    <strong>Content Personalization:</strong>
                    </li>
                </ol>
                <p>Data is used to personalize content to enhance user experience.</p>
                <ol start={3} type={1}>
                    <li>
                    <strong>Account Access and Efficiency:</strong>
                    </li>
                </ol>
                <p>Information is used to help users efficiently access their accounts.</p>
                <ol start={4} type={1}>
                    <li>
                    <strong>Payment Processing:</strong>
                    </li>
                </ol>
                <p>
                    Personal Data is used for making or receiving payments for services obtained
                    through the hire2Inspire platform.
                </p>
                <ol start={5} type={1}>
                    <li>
                    <strong>Tax Forms:</strong>
                    </li>
                </ol>
                <p>Information is used to assist in filling out tax forms.</p>
                <ol start={6} type={1}>
                    <li>
                    <strong>Service Analysis:</strong>
                    </li>
                </ol>
                <p>
                    Data is analysed to understand how services are used, diagnose technical
                    problems, and improve the overall service.
                </p>
                <ol start={7} type={1}>
                    <li>
                    <strong>Security and Compliance:</strong>
                    </li>
                </ol>
                <p>
                    Information is used to maintain security and comply with regulatory
                    requirements, including OFCCP and EEOC regulations.
                </p>
                <ol start={8} type={1}>
                    <li>
                    <strong>Metrics and Analytics:</strong>
                    </li>
                </ol>
                <p>
                    Aggregate metrics such as total visitors, traffic, and demographic patterns
                    are monitored.
                </p>
                <p>
                    It's noted that while users are not legally obligated to provide
                    information, there may be contractual obligations to do so. Failure to
                    provide certain information may result in the inability to use the service.
                    If users have questions about the mandatory nature of providing specific
                    information and its consequences for withholding, they can contact
                    hire2Inspire's Data Protection Officer.
                </p>
                <p>
                    The Personal Data and other information may be collected through various
                    methods, which will be listed below.
                </p>
                <h4>Information You Provide to Us</h4>
                <ol type={1}>
                    <li>
                    <strong>Contact Information:</strong>
                    </li>
                </ol>
                <p>
                    This includes details that identify you as an individual and allow for
                    contact. Examples are name, email address, company address, phone number,
                    photo, or links to online profiles. Some of this information may be visible
                    to other hire2Inspire users.
                </p>
                <ol start={2} type={1}>
                    <li>
                    <strong>Payment Information:</strong>
                    </li>
                </ol>
                <p>
                    If you use the Service for payments, hire2Inspire may collect payment
                    details like credit card information, bank details, or other financial
                    account information, along with billing address.
                </p>
                <ol start={3} type={1}>
                    <li>
                    <strong>Identity Verification:</strong>
                    </li>
                </ol>
                <p>
                    Information like date of birth, social security number, or taxpayer
                    identification number may be collected for identity validation, especially
                    for payments or as required by law (e.g., for tax filings). Supporting
                    documents like government-issued ID, photos, or billing statements may also
                    be requested.
                </p>
                <ol start={4} type={1}>
                    <li>
                    <strong>Non-Identifying Information:</strong>
                    </li>
                </ol>
                <p>
                    This encompasses data like zip codes, demographic information, details about
                    your use of the Service, and general Job Cast-related data. This type of
                    information is not personally identifiable. Aggregate data from hire2Inspire
                    Users may also be collected.
                </p>
                <ol start={5} type={1}>
                    <li>
                    <strong>Content Data:</strong>
                    </li>
                </ol>
                <p>
                    Any content you post on the Services, not covered in other categories, such
                    as profiles, questions, answers, messages, comments, ratings, feedback, and
                    other contributions. This includes metadata like posting time.
                </p>
                <ol start={6} type={1}>
                    <li>
                    <strong>Marketing and Communications Data:</strong>
                    </li>
                </ol>
                <p>
                    This pertains to your preferences for receiving marketing communications
                    from hire2Inspire and third parties, as well as your communication
                    preferences. Correspondence through email or messaging within the Services
                    may also be retained.
                </p>
                <ol start={7} type={1}>
                    <li>
                    <strong>Special Categories of Personal Data:</strong>
                    </li>
                </ol>
                <p>
                    Users may be asked to optionally provide data that falls under special
                    categories, as defined by statutes like GDPR or CCPA. This may include
                    information about racial or ethnic background, disability or veteran status,
                    or any other information required by local hiring regulations, such as those
                    enforced by the EEOC and OFCCP.
                </p>
                <ol start={8} type={1}>
                    <li>
                    <strong>Hashed Information:</strong>
                    </li>
                </ol>
                <p>
                    Personal Data may be converted into a form of Non-Identifying Information
                    referred to as "Hashed Information." This is done using a mathematical
                    process (hash function) to create a code. While the code doesn't directly
                    identify you, it may be used to connect your activity and interests.
                </p>
                <p>
                    It's important to note that providing certain information may be required
                    for contractual reasons, and failure to do so may impact the ability to use
                    the Service. Additionally, some information may be shared with Employers in
                    compliance with legal requirements.
                </p>
                <h4>Information Received From Third Parties</h4>
                <ol type={1}>
                    <li>
                    <strong>Professional Information:</strong>
                    </li>
                </ol>
                <p>
                    This category includes details like your name, email address, phone number,
                    professional history, resume/CV, work references, and other professional
                    information. If you're a Candidate, this information is typically provided
                    to hire2Inspire by a third-party, often a Recruiter. You will be notified
                    about this, along with information about who provided it. You have the
                    ability to update or request the deletion of this information (where legally
                    allowed), and it will not be shared without your consent.
                </p>
                <ol start={2} type={1}>
                    <li>
                    <strong>Miscellaneous Third Party Info:</strong>
                    </li>
                </ol>
                <p>
                    If you choose to sign in with a third-party service or link to an external
                    service, hire2Inspire may receive information about you from these third
                    parties. If this information is combined with data collected through the
                    Service, it will be treated in accordance with the terms outlined in this
                    Privacy Policy.
                </p>
                <p>
                    It's important to note that when Personal Data is provided by third parties,
                    hire2Inspire will ensure that you are notified about it and who provided the
                    information. This transparency is an important aspect of data privacy.
                </p>
                <h4>Information Collected Automatically</h4>
                <ol type={1}>
                    <li>
                    <strong>Browsing Information:</strong>
                    </li>
                </ol>
                <p>
                    This type of information is automatically collected whenever you interact
                    with the Service. It includes details like the browser and operating system
                    you're using, the URL or advertisement that led you to the Service, the
                    search terms you used to find the Service, specific areas within the Service
                    that you visited, and other data commonly exchanged between browsers and
                    websites. This information is combined with other data to enhance the
                    services offered, as well as for purposes like marketing, analytics, and
                    improving site functionality.
                </p>
                <ol start={2} type={1}>
                    <li>
                    <strong>Device Identifiers:</strong>
                    </li>
                </ol>
                <p>
                    This includes the Internet Protocol (IP) address or other unique device
                    identifier (Device Identifier) associated with any device (computer, mobile
                    phone, tablet, etc.) used to access the Service. Each device is assigned a
                    unique number, and this identifier is used by hire2Inspire's servers to
                    recognize your device. In some cases, mobile service providers may also
                    provide information about the physical location of the device used to access
                    the Service.
                </p>
                <ol start={3} type={1}>
                    <li>
                    <strong>Cookies:</strong>
                    </li>
                </ol>
                <p>
                    More details about cookies and how you can control their use will be covered
                    in a subsequent section.
                </p>
                <p>
                    These technologies and the information collected through them are used to
                    analyse how the Service is used, improve platform functionality, retain your
                    log-in information for future sessions, and serve you with advertisements
                    that may be of interest to you.
                </p>
                <h4>Aggregated Data</h4>
                <p>
                    hire2Inspire may also collect, use, and share "Aggregated Data" for various
                    purposes. Aggregated Data refers to statistical or demographic information
                    that has been compiled in a way that no individual's identity can be
                    determined directly or indirectly.
                </p>
                <p>
                    However, if hire2Inspire combines or links this Aggregated Data with your
                    Personal Data in a manner that it can directly or indirectly identify you,
                    they will treat the combined data as Personal Data and handle it in
                    accordance with their Privacy &amp; Cookies Policy.
                </p>
                <h4>Cookies and Controlling Their Use</h4>
                <p>
                    hire2Inspire and its partners utilize various technologies, including
                    cookies and similar tools, to gather information for different purposes:
                </p>
                <ol type={1}>
                    <li> <strong>Cookies:</strong>  </li>
                    <p>These are small data files that are stored on
                    your computer's hard disk. They help in record-keeping and can be either
                    persistent (remain on your device even after you close your browser) or
                    session-based (expire at the end of your browsing session). Cookies are
                    used for tasks like saving login information, tracking compliance with
                    hire2Inspire's terms, and understanding user interactions with the
                    platform. You can manage cookie settings in your browser, but disabling
                    them may limit certain features of the Service.</p>
                    <li> <strong>Web Beacons and Tracking Tags:</strong> </li>
                    <p>These are software
                    technologies used to monitor the effectiveness of content on the Service
                    and to deliver relevant advertising. They are small graphics with unique
                    identifiers that track online activity. Web beacons can be embedded in web
                    pages or email messages and are often invisible to users.</p>

                    <li> <strong>Embedded Scripts:</strong> </li>
                    <p>These are snippets of programming code
                    designed to collect information about your interactions with the Service,
                    such as links you click on. The code is temporarily downloaded onto your
                    device and is deactivated or deleted when you disconnect from the Service.</p>
                </ol>

                <p>
                    Additionally, other technologies like tags may be used for security and
                    fraud detection purposes, and third parties may be involved in providing
                    these services on behalf of hire2Inspire.
                </p>
                
                <h4>Change Your Cookie Preferences</h4>
                <p>
                    To change your cookie preferences, you can fill out the provided form. It's
                    important to keep in mind that certain cookies are essential for specific
                    features of the Service. Blocking these cookies may limit your ability to
                    use certain parts of the platform. For instance, you may not be able to log
                    into private areas of the site or access your account without them.
                </p>
                <h4>Third-Party Analytics</h4>
                <p>
                    hire2Inspire may utilize third-party services like Google Analytics to gain
                    insights into the usage of the Service. These services usually collect
                    information transmitted by your browser as a part of a web page request,
                    which may include cookies and your IP address. These third-party services
                    receive this information, and their use of it is governed by their own
                    respective privacy policies.
                </p>
                <h4>Change Your Browser’s Cookie Settings</h4>
                <p>
                    You can typically manage and control most cookies through your web browser
                    settings. Many of the cookies set by hire2Inspire can be deleted or blocked
                    through your browser. However, please be aware that some of them may be
                    essential for the proper functioning of the Services. If you need
                    information regarding specific browsers, you can visit the website of the
                    browser developer for guidance.
                </p>
                <h3>How we use your personal data</h3>
                <ol type={1}>
                    <li>
                    <strong>Purposes of Personal Data Use:</strong>
                    </li>
                </ol>
                <p>hire2Inspire uses personal data for the following purposes:</p>
                <ul type="disc">
                    <li>Delivering and improving services</li>
                    <li>Managing user accounts and providing customer support</li>
                    <li>Analysing user behaviour on the platform</li>
                    <li>
                    Developing, displaying, and tracking content and tailored advertising
                    </li>
                    <li>Conducting website or mobile application analytics</li>
                    <li>Diagnosing and resolving technical issues</li>
                    <li>Automatically updating services on users' devices</li>
                    <li>Verifying identity and preventing fraud or unauthorized activity</li>
                    <li>
                    Enforcing or exercising rights outlined in the company's Terms of Service.
                    </li>
                </ul>
                <ol start={2} type={1}>
                    <li>
                    <strong>Legal Basis for Data Use:</strong>
                    </li>
                </ol>
                <p>
                    hire2Inspire ensures that there is a legal basis for using personal data.
                    The legal basis depends on the specific services used and how they are used.
                    The acceptable legal bases include:
                </p>
                <ul type="disc">
                    <li>User consent for a specific purpose</li>
                    <li>
                    Necessity to provide services, including customer support, personalized
                    features, and ensuring safety and security of services
                    </li>
                    <li>
                    Satisfying a legitimate interest (which is not overridden by user data
                    protection interests)
                    </li>
                    <li>Processing data to comply with a legal or regulatory obligation.</li>
                </ul>
                <ol start={3} type={1}>
                    <li>
                    <strong>Consent and Revocation:</strong>
                    </li>
                </ol>
                <p>
                    The company may rely on user consent as a legal basis for data use when
                    expressly sought for a specific purpose. Users have the right to revoke
                    consent at any time. However, this will not affect any processing that has
                    already taken place. Depending on the situation, hire2Inspire may be
                    required to retain data already processed in accordance with local laws.
                </p>
                <ol start={4} type={1}>
                    <li>
                    <strong>Information Sharing and Disclosure:</strong>
                    </li>
                </ol>
                <p>
                    hire2Inspire may share user information for various purposes, including
                    providing services, legal and investigative reasons, or in the event of a
                    merger or acquisition. The company may also share non-identifying
                    information with third parties. Users have the option to choose whether
                    their personal information is shared with third parties for their own
                    marketing purposes.
                </p>
                <ol start={5} type={1}>
                    <li>
                    <strong>Sharing with Other Users:</strong>
                    </li>
                </ol>
                <p>
                    Recruiters, Employers, and Candidates may have some of their personal data
                    and user-generated content shared with other users for the purpose of
                    providing the services. This includes contact information, content data,
                    special categories of personal data, and professional information.
                </p>
                <ol start={6} type={1}>
                    <li>
                    <strong>Service Providers:</strong>
                    </li>
                </ol>
                <p>
                    hire2Inspire may engage third-party companies and individuals to facilitate
                    and provide services on its behalf. These third parties may have access to
                    personal information to perform tasks related to service provision.
                </p>
                <ol start={7} type={1}>
                    <li>
                    <strong>Legal and Investigative Purposes:</strong>
                    </li>
                </ol>
                <p>
                    hire2Inspire may share information with government agencies as required by
                    law or in response to lawful requests. This may be done to meet national
                    security or law enforcement requirements, or in connection with reporting
                    earnings.
                </p>
                <ol start={8} type={1}>
                    <li>
                    <strong>Business Transfers:</strong>
                    </li>
                </ol>
                <p>
                    In the event of a merger, acquisition, reorganization, or sale of assets,
                    including bankruptcy proceedings, hire2Inspire may sell, transfer, or share
                    some or all of its assets, including user's personal information.
                </p>
                <p>
                    This section provides a comprehensive overview of how hire2Inspire handles
                    and uses personal data for various purposes, ensuring compliance with
                    relevant data protection laws and regulations. Users are also informed about
                    their rights regarding consent and data sharing.
                </p>
                <h4>Data Security</h4>
                <p>
                    hire2Inspire takes reasonable steps to protect and secure the information it
                    collects from users. This includes using industry-standard encryption
                    technologies like TLS and SSL, as well as working with payment processors
                    certified to PCI Service Provider Level 1. Additionally, HTTP strict
                    transport security is employed for added protection.
                </p>
                <p>
                    However, it's important to note that while hire2Inspire employs these
                    security measures, no method of transmission over the internet or electronic
                    storage is entirely fool proof. Despite our efforts, we cannot guarantee the
                    absolute security of any information you transmit to us.
                </p>
                <h4>Policy on Children’s Privacy</h4>
                <p>
                    hire2Inspire is committed to protecting the privacy of children. The Service
                    is designed for users who are 18 years of age or older, and we do not
                    knowingly collect Personal Information from individuals under the age of 18.
                    If we become aware that we have inadvertently collected Personal Information
                    from a child under 18, we will take reasonable steps to delete the
                    information from our files. If you are a parent or legal guardian and
                    believe that hire2Inspire has collected Personal Information from your child
                    under the age of 18, please contact our Data Protection Officer at:&nbsp;
                    <a href="mailto:info@hire2inspire.com">
                    <u>info@hire2inspire.com</u>
                    </a>{" "}
                </p>
                <h4>Links to Third-Party Websites</h4>
                <p>
                    The Privacy &amp; Cookies Policy provided by hire2Inspire specifically
                    pertains to their services and platform. When you click on a link that
                    directs you to a third-party website, you will be subject to the privacy
                    policy and practices of that specific website. hire2Inspire does not endorse
                    or have control over these third-party websites, and they may have their own
                    policies regarding cookies and data collection. It is recommended that you
                    review the privacy policies of any external websites you visit.
                </p>
                <h4>Updates to Our Privacy Policy</h4>
                <p>
                    hire2Inspire retains the right to make adjustments to their Privacy &amp;
                    Cookies Policy as they see fit. Any alterations, additions, or removals of
                    sections will be immediately effective upon being posted on the respective
                    page. It is advised to regularly review this policy for any updates. You can
                    verify if changes have been implemented by referring to the Effective Date
                    provided. If you continue to use hire2Inspire and their Services after any
                    modifications to this policy, it signifies your consent to these changes.
                </p>
                


            </div>










        </div>
    </div>
</div>