<div>
    <div className="scrollToTopBtn">
        <i className="fa-solid fa-angle-up"></i>
    </div>
    <h1 className="pricing-outer-heading">Refund Policy</h1>
    <div class="privacy">
        <p>
            <strong>Refund Policy&nbsp;</strong>
        </p>
        <p>
            At hire2Inspire, we strive to ensure satisfaction and a positive experience
            for both our service providers and clients. Our refund policy is designed to
            address various scenarios regarding service transactions on our platform.
        </p>
        <ol type={1}>
            <li>
                <strong>Refund Eligibility:</strong>
            </li>
        </ol>
        <p>Refunds may be considered under the following circumstances:</p>
        <ul type="disc">
            <li>
                Service provider cancellation: If a service provider cancels the
                agreed-upon service, a full refund will be issued to the client.
            </li>
            <li>
                Unsatisfactory service: If the delivered service does not meet the
                agreed-upon specifications and cannot be rectified through mutual
                agreement between the client and service provider.
            </li>
            <li>
                Technical issues: In case of technical failures or platform-related issues
                that prevent the completion or proper delivery of the service.
            </li>
            <li>
                Refunds are subject to review and approval by hire2Inspire and may not be
                guaranteed in every situation.
            </li>
        </ul>
        <ol start={2} type={1}>
            <li>
                <strong>Refund Process:</strong>
                <ul type="disc">
                    <li>
                        Clients must submit a refund request within 15 days from the
                        completion date of the service.
                    </li>
                    <li>
                        To request a refund, clients should contact our support team at&nbsp;
                        <a href="mailto:info@hire2inspire.com">
                            <u>info@hire2inspire.com</u>
                        </a>
                        &nbsp;and provide relevant transaction details and reasons for the
                        refund request.
                    </li>
                    <li>
                        Our team will review the request and communicate the decision within 5
                        business days.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Refund Resolution:</strong>
                <ul type="disc">
                    <li>
                        If the refund request is approved, refunds will be issued to the
                        original payment method used for the transaction.
                    </li>
                    <li>
                        Refunds may be partial or full based on the circumstances of the
                        request and the terms agreed upon during the service engagement.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Non-Refundable Situations:</strong>
                <ul type="disc">
                    Certain circumstances may not qualify for a refund, such as:
                    <li>


                    <li>
                        Client-initiated cancellations after the service has commenced.
                    </li>
                    <li>
                        Situations where the service was delivered as per the agreed-upon
                        specifications.
                    </li>
                    <li>Service provider disputes that cannot be substantiated.</li>

            </li>
            </ul>
            </li>
            <li>
                <strong>Service Provider Responsibility:</strong>
                <ul type="disc">
                    <li>
                        Service providers are expected to adhere to the agreed-upon terms and
                        provide services as described in their offering. Failure to do so may
                        result in refunds or penalties as determined by hire2Inspire.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Contact Information:</strong>
                <ul type="disc">
                    <li>
                        For any refund-related inquiries or to initiate a refund request,
                        please reach out to our support team at <a href="mailto:info@hire2inspire.com">
                            <u>info@hire2inspire.com</u>
                        </a>
                    </li>
                </ul>
            </li>
        </ol>
        <p>
            Please note that this refund policy is subject to change and it's advisable
            to review the most updated policy on our website or contact our support team
            for any clarification regarding refunds.
        </p>
        <p>
        </p>
    </div>
</div>
</div>